*{
margin: 0;padding: 0;
font-family: sans-serif;
box-sizing: border-box;
}
header{
    border: solid 2px rgb(23, 22, 22);
    height: 50px;
    width: 100%;
    background-color: rgb(231, 22, 231);
}
ul{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;

}
a{
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color: black;
}
li{
    transform: all 1s;
    
}
a:hover{
    color: white;
}
li:hover{
    transform: scale(1.8);
}