*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    background-color: lightblue;
}
button{
    width: 30%;
    padding: 2vh 0;
    display: block;
    margin: 2vh auto;
}
.textbox{
    border: solid 1px black;
    height: 400px;
    width: 400px;
    background-color: pink;
    margin: auto;
    text-align: center;
    place-content: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}
.box{
    border: solid 3px black;
    height: 50px;
    width: 50px;
    background-color:lightskyblue;
    place-content: center;
    

}
.signal{
    border: solid 1px black ;
    width: 400px;
    height: 200px;
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 20px;
    background-color: black;

    
}
.circle{
    border: solid 1px black;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 3vh 2vh;
    place-content: center;
    text-align: center;

    
}
.crl1{
    background-color: red;
}
.crl2{
    background-color: lightgreen;
}
.crl3{
    background-color: yellow;
}

