*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    background-color: lightblue;
}
h2{
    display: inline;
    text-align: center;
    background-color: lightblue;
}
b{
    display: block;
    background-color: lightgray;
}
i{
    background-color: lightskyblue;
}