.p1{
    text-align: justify;
    width: 90%;
    margin: auto;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    font-family: sans-serif;
    font-variant:normal;
    border-style: double;
    border-width: 5px;
    border-color: rgb(21, 228, 52);
    border-radius: 10px;
}