*{
    padding: 0;margin: 0;
    font-family: sans-serif;
}
.container{
    display: flex;
    justify-content: space-evenly;
}
.box{
    border: solid 1px black;
    height: 200px;
    width: 200px;
    margin-top: 20px;
}
.color1{
    background-image: linear-gradient(red,yellow,green);
     /* background-image: linear-gradient(to right,purple,pink,brown);
     background: linear-gradient(to top left,crimson,blue,orange ) ; */

}
.color2{
    /* background-image: radial-gradient(purple 50%,pink,brown); */
    /* background-image: radial-gradient(circle at bottom,rgb(244, 6, 6) 50%,rgb(187, 232, 9),rgb(16, 240, 46)); */
    background-image: radial-gradient(circle at bottom,rgb(238, 27, 12) 20%,rgb(234, 223, 9),rgb(23, 219, 62));
}
.color3{
    background-image: conic-gradient(red,yellow,green,red);
}
.color4,.color5,.color6{
    border-radius: 50%;
}
.color4{
    background: repeating-linear-gradient(yellow,black 20%);
}
.color5{
    background:repeating-radial-gradient(pink,purple 5%);
}
.color6{
    background:repeating-conic-gradient(red,black 20%);
}
.container1{
     border: solid 1px black;
    height: 200px;
    width: 200px;
    margin: auto;
    background: linear-gradient(black 50%,yellow 50%);
    margin: 10vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
     border: solid 1px black;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: linear-gradient(yellow 50%,black 50%);
    
    
}
.li{
    margin: auto;
    border: solid 1px none;
    height: 200px;
    width: 200px;
    background: linear-gradient(black 50%,yellow 50%);
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    filter: drop-shadow(0 0 10px black);
}
.li2{
    margin: auto;
    border: solid 1px none;
    height: 200px;
    width: 200px;
     background: linear-gradient(to bottom right, black 50%,yellow 50%);
     border-top-left-radius: 100%;
     border-bottom-right-radius: 100%;
}
header{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    text-align: center;
    background: linear-gradient(pink,lightgray);
}
.header_text{
     background: linear-gradient(blue,red);
     background-clip: text;
     color: transparent;
}