*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    height: 10vh;
    width: 100%;
    background: pink;
    display: flex;
    justify-content:space-around;

    .name{
        padding: 20px 0;
    }

    ul{
        display: flex;
        justify-content: space-evenly;
        

        li{
            list-style: none;
            padding: 20px 10px;
           a{
            text-decoration: none;
           }
        }
    }
}


.container1{
    width: 100%;
    
}