*{
    margin: 0;
    padding: 0;font-family: sans-serif;
    box-sizing: border-box;
}
h1{
    text-align: center;
    background-color:blueviolet ;
    position: fixed;
    width: 100%;
    height: 10vh;
    place-content: center;
    top: 0;

}
.para{
    margin-top: 10vh;
}
h3{
    text-align: center;
    background-color: rgb(212, 122, 192);
    position: sticky;
    top: 0;
    height: 10vh;
    place-content: center;
}