.triangle{
    border: solid 2px black;
    height: 0px;
    width: 0px;
    border-top: solid 100px white;
    border-bottom: solid 100px rgb(244, 236, 9);
    border-left: solid 100px white;
    border-right: solid 100px white;
    /* width: 0;
    border: solid 2px black;
    border-top: solid 100px pink;
    border-left: solid 100px #f2f2ec;
    border-bottom: solid 100px orange;
    border-right: solid 100px red; */

}
.triangle2{
    border: solid 2px black;
    height: 0px;
    width: 0px;
    border-top:solid 100px white;
    border-bottom:solid 100px rgb(0, 98, 255);
    border-left:solid 100px white;
    border-right:solid 100px white;
    background-color:white;
    margin: auto;
}
